<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankInfo">
            <h2><span jhiTranslate="customerPortalApp.bankInfo.detail.title">Bank Info</span> {{ bankInfo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="customerPortalApp.bankInfo.name">Name</span></dt>
                <dd>
                    <span>{{ bankInfo.name }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.accountHolder">Account Holder</span></dt>
                <dd>
                    <span>{{ bankInfo.accountHolder }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.accountNumber">Account Number</span></dt>
                <dd>
                    <span>{{ bankInfo.accountNumber }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.branchCode">Branch Code</span></dt>
                <dd>
                    <span>{{ bankInfo.branchCode }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.branchAddress">Branch Address</span></dt>
                <dd>
                    <span>{{ bankInfo.branchAddress }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.ifscCode">Ifsc Code</span></dt>
                <dd>
                    <span>{{ bankInfo.ifscCode }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.bankInfo.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="bankInfo.customer">
                        <a [routerLink]="['/customer', bankInfo.customer?.id, 'view']">{{ bankInfo.customer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-info', bankInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
