<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span jhiTranslate="customerPortalApp.orders.detail.title">Orders</span> {{ orders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="customerPortalApp.orders.dateCreated">Date Created</span></dt>
                <dd>
                    <span>{{ orders.dateCreated }}</span>
                </dd>
                <dt><span jhiTranslate="customerPortalApp.orders.status">Status</span></dt>
                <dd>
                    <span>{{ orders.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
