<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-legal-entity-heading" jhiTranslate="customerPortalApp.legalEntity.home.createOrEditLabel">Create or edit a Legal Entity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.commercialName" for="field_commercialName">Commercial Name</label>
                    <input type="text" class="form-control" name="commercialName" id="field_commercialName"
                           formControlName="commercialName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.taxNumber" for="field_taxNumber">Tax Number</label>
                    <input type="text" class="form-control" name="taxNumber" id="field_taxNumber"
                           formControlName="taxNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.dateOfStart" for="field_dateOfStart">Date Of Start</label>
                    <div class="d-flex">
                        <input id="field_dateOfStart" type="datetime-local" class="form-control" name="dateOfStart" formControlName="dateOfStart" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.businessClosed" for="field_businessClosed">Business Closed</label>
                    <input type="checkbox" class="form-control" name="businessClosed" id="field_businessClosed"
                           formControlName="businessClosed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.businessArea" for="field_businessArea">Business Area</label>
                    <input type="text" class="form-control" name="businessArea" id="field_businessArea"
                           formControlName="businessArea"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                           formControlName="deleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerPortalApp.legalEntity.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
